<!DOCTYPE html>
<html lang="en">

<head>
    <title>Please Vote | Poll Master</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/history.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a href="#" class="navbar-left"><img src="/images/pollmaster.png" height=125px></a>
        <!-- <a class="navbar-brand">Poll Master</a> -->
        <form class="form-inline">
          <a href="/home" class="btn btn-outline-success mr-sm-2">Create New Poll</a>
          <button id="logoutButton" type="button" class="btn btn-outline-danger">Logout</button>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- 1 of 3 -->
            </div>
            <div class="col">
                <!-- 2 of 3 -->
            </div>
            <div class="col">
                <!-- 3 of 3 -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- 1 of 3 -->
            </div>
            <div id="history-col" class="col-6">
                <div class="list_results">
                    <!-- <button id="title" class="list-group-item list-group-item-action active">
                      Title Goes Here
                    </button>
                    <button id="description" class="list-group-item list-group-item-action" disabled>Description goes here</button>
                    <button id="poll_options" class="list-group-item list-group-item-action" disabled>Poll Options</button>
                    <button id="results" class="list-group-item list-group-item-action" disabled>Results</button>
                    <button id="vote_link" class="list-group-item list-group-item-action" disabled>Vote Link</button> -->
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col">
                <!-- 3 of 3 -->
            </div>
        </div>
    </div>
</body>

</html>
