<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | Poll Master</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <font color=#f0f1ef>1 of 3</font>
            </div>
            <div class="col-6">
                <font color=#f0f1ef>2 of 3 (wider)</font>
                <h1>

                    <a href="#" class="navbar-left"><img src="/images/pollmasterquote.png" height=400px></a>
                    <!-- <a class="navbar-brand">Poll Master</a> -->

                </h1>
                <h2 align="center">Enter your email to begin your training!</h2>
                <br>
                <form action="/login" method="POST" class="form-group">
                    <div>
                        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <br>
                    <button type="submit" class="btn btn btn-success btn-lg btn-block">Login To Create Poll</button>
                </form>
            </div>
            <div class="col">
                <font color=#f0f1ef>3 of 3</font>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <font color=#f0f1ef>1 of 3</font>
            </div>
            <div class="col-5">
                <font color=#f0f1ef>2 of 3 (wider)</font>
            </div>
            <div class="col">
                <font color=#f0f1ef>3 of 3</font>
            </div>
        </div>
    </div>


</body>

</html>
