<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <font color=</font>>1 of 3</font>
            </div>
            <div class="col-6">
                2 of 3 (wider)
                <h1>Welcome To The Poll Master</h1>
                <h2>Time To Choose!</h2>
                <br>
                <br>
                <br>
                <form>
                    <div action="/login" method="POST" class="form-group">
                        <label for="exampleFormControlInput1">Enter Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Create Poll</button>
                </form>
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col-5">
                2 of 3 (wider)
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
    </div>


</body>

</html>