<!DOCTYPE html>
<html lang="en">

<head>
    <title>Please Vote | Poll Master</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand">Poll Master</a>
    <a href="/login">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Exit</button>
    </a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
    <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Please rank your favoriate fruit.</p>
              <div class="list-group">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-10 col-form-label">Password</label>
                  <div class="col-sm-2">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-10 col-form-label">Password</label>
                  <div class="col-sm-2">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <a class="list-group-item list-group-item-action">Banana<input></a>
                <a class="list-group-item list-group-item-action"><span class="col-sm-10">Apple</span><input class="col-sm-10"></a>
                <a class="list-group-item list-group-item-action">Orange</a>
              </div>
              <br>
              <a href="#" class="btn btn-primary">Submit</a>
            </div>
            <div class="card-footer text-muted">
                Made with ♥ and 💪
            </div>
          </div>
        </div>
        <div class="col">
          3 of 3
        </div>
      </div>
  </div>
</body>

</html>
